{% extends "!layout.html" %}

{% block header %}
  {{ super() }}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-133922066-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-133922066-1');
</script>
{% endblock %}

{# Add some extra stuff before and use existing with 'super()' call. #}
{% block footer %}
{% endblock %}
